/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/laskarit/viikko2/Maksukortti/target
/laskarit/viikko2/Maksukortti/nbproject/
/laskarit/viikko2/Unicafe/nbactions.xml
/Bloodecode/nbproject/
/Bloodecode/target
/Bloodecode/nbactions.xml
/Bloodecode/mvnw
/Bloodecode/mvnw.cmd
/Bloodecode/.mvn
